.city-names {
align-items: center;
padding: 6px 30px;
border-radius: 6px;
border: none;
margin: 10px;
color: #fff;
background: #007bff;
background-origin: border-box;
user-select: none;
-webkit-user-select: none; touch-action: manipulation;
}
  
.city-names:hover {
  background: #0275d8;
  background-origin: border-box;
  transition: 0.7s;
}

#bg-image {
position: relative;
overflow: hidden;
background-repeat: no-repeat;
background-size: cover;
background-position:50%;
} 

.clear {
  background-color: transparent;
} 

#more {
color: #fff;
border: solid 1px #fff;

}

#more a:focus { outline: thin dotted; }