body {
  background: #fff;
  color: #333;
  transition: 0.5s, color 0.5s;
}

.dark-mode {
  background: #343a40;
  color: #fff;
}

h5{
  display: flex;
}

/* Style the toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .5s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.city-names {
align-items: center;
padding: 6px 30px;
border-radius: 6px;
border: none;
margin: 10px;
color: #fff;
background: #5ad1cd;
background-origin: border-box;
user-select: none;
-webkit-user-select: none; touch-action: manipulation;
}

/* Override button appearance */
.btn-primary {
background-color: #5ad1cd;
border-color: #5ad1cd;
}

.btn-primary:hover {
  background: #f07e6e;
  }

.card {
  background-color: transparent;
}

.city-names:hover {
  background: #f07e6e;
  background-origin: border-box;
  transition: 0.7s;
}

#bg-image {
position: relative;
overflow: hidden;
background-repeat: no-repeat;
background-size: cover;
background-position:50%;
}

#suggested-gif {
  background: #dddddd;
  border: 1px solid #111111
}

#bg-title-gif  {
position: relative;
overflow: hidden;
background-repeat: no-repeat;
background-size: cover;
background-position:50%;
}

.weather-conditions div {
  background-color: #00000022;
  padding: 1rem 0;
}

#more {
  color: #fff;
  border: solid 1px #fff;
  background-color: #00000022;
}

#more a:focus { outline: thin dotted; }

#search-form {
 display: flex;
 align-items: center;
 justify-content: center;
}

#search-button {
  margin-left: 1rem;
}

#clear-history-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 30px;
  width: 100%;
  border-radius: 6px;
  border: none;
  margin-bottom: 10px;
  color: #fff;
  background: #9fa6ac;
  background-origin: border-box;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#clear-history-btn:hover {
  background: #7d8286;
  background-origin: border-box;
  transition: 0.7s;
}

.gif-header {
  color: white;
  font-family: Arial;
  font-size: 50px;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;  
  font-style: italic;
  height:70px;
}


/* SLIDING PERSPECTIVE EFFECT for jumbotron title */
/* CREDIT: https://codepen.io/AdamDipinto/pen/EqxaEO */

.perspective-text {
  color: white;
  font-family: Arial;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;  
  margin-left:-150px;
}

.perspective-line {
  height: 50px;
  overflow: hidden;
  position: relative;
}

p {
  margin: 0;
  height: 50px;
  line-height: 50px;
  transition: all 0.8s ease-in-out;
}

.perspective-line:nth-child(odd) {
  transform: skew(60deg, -5deg) scaleY(0.667);
}

.perspective-line:nth-child(even) {
  transform: skew(0deg, -5deg) scaleY(1.337);
}

.perspective-text:hover p {
  transform: translate(0, -50px);
}

.perspective-line:nth-child(1) {
  left: 29px;
}

.perspective-line:nth-child(2) {
  left: 58px;
  background: #f07e6e;
}

.perspective-line:nth-child(3) {
  left: 87px;
  background: #84cdfa;
}

.perspective-line:nth-child(4) {
  left: 116px;
  background: #5ad1cd;
}

.perspective-line:nth-child(5) {
  left: 145px;
}

@media (min-width: 600px) {
  .perspective-text  {
    font-size: 40px;
  }
}

@media (min-width: 900px) {
  .perspective-text  {
    font-size: 50px;
  }
}

@media (min-width: 1200px) {
  .perspective-text  {
    font-size: 60px;
  }
}


/* weather card title */

.title-text-weather {
  color: white;
  font-family: Arial;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;  
}

.title-line-weather {
  height: 50px;
  overflow: hidden;
  position: relative;
}

.title-line-weather p .slide {
  margin: 0;
  height: 50px;
  line-height: 50px;
  transition: all 0.8s slider;
}

.title-line-weather:nth-child(odd) {
  transform: skew(-7deg);
}

.title-line-weather:nth-child(even) {
  transform: skew(-7deg);
}

.title-text-weather:hover .slide {
  transform: translate(-82px, -50px);
}

@media (min-width: 1200px) {
  .title-text-weather {
    font-size: 50px;
  }
}
